.container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.post {
  width: 32%;
}

@media screen and (max-width: 1280px) {
  .post {
    width: 48%;
  }
}

@media screen and (max-width: 768px) {
  .post {
    width: 100%;
  }
}
